
@keyframes appearence {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px $neon-color,
        0 0 11px $neon-color,
        0 0 19px $neon-color,
        0 0 40px $neon-color-secondary,
        0 0 80px $neon-color-secondary,
        0 0 90px $neon-color-secondary,
        0 0 100px $neon-color-secondary,
        0 0 150px $neon-color-secondary;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px $neon-color,
        0 0 11px $neon-color,
        0 0 19px $neon-color,
        0 0 40px $neon-color-secondary,
        0 0 80px $neon-color-secondary,
        0 0 90px $neon-color-secondary,
        0 0 100px $neon-color-secondary,
        0 0 150px $neon-color-secondary;
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
        0 0 2px $neon-color,
        0 0 4px $neon-color,
        0 0 6px $neon-color,
        0 0 10px $neon-color-secondary,
        0 0 45px $neon-color-secondary,
        0 0 55px $neon-color-secondary,
        0 0 70px $neon-color-secondary,
        0 0 80px $neon-color-secondary;
    }
}

@keyframes cardAppearence {
    0% {
        opacity: 0;
        transform: scale(0.5);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
}