
@keyframes appearence {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px var(--neon-color),
        0 0 11px var(--neon-color),
        0 0 19px var(--neon-color),
        0 0 40px var(--neon-color-secondary),
        0 0 80px var(--neon-color-secondary),
        0 0 90px var(--neon-color-secondary),
        0 0 100px var(--neon-color-secondary),
        0 0 150px var(--neon-color-secondary);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px var(--neon-color),
        0 0 11px var(--neon-color),
        0 0 19px var(--neon-color),
        0 0 40px var(--neon-color-secondary),
        0 0 80px var(--neon-color-secondary),
        0 0 90px var(--neon-color-secondary),
        0 0 100px var(--neon-color-secondary),
        0 0 150px var(--neon-color-secondary);
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
        0 0 2px var(--neon-color),
        0 0 4px var(--neon-color),
        0 0 6px var(--neon-color),
        0 0 10px var(--neon-color-secondary),
        0 0 45px var(--neon-color-secondary),
        0 0 55px var(--neon-color-secondary),
        0 0 70px var(--neon-color-secondary),
        0 0 80px var(--neon-color-secondary);
    }
}

@keyframes cardAppearence {
    0% {
        opacity: 0;
        transform: scale(0.5);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
}

@keyframes shapesFloating {
    0% {
        transform: translateY(0) translateY(0);
    }
    25% {
        transform: translateY(-1rem) translateX(0);
    }
    50% {
        transform: translateY(-1rem) translateX(-1rem);
    }
    75% {
        transform: translateY(0.5rem) translateX(-1rem);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes orbFiller {
    to {
        width : 150vw;
        height : 300vh;
        filter : blur(0)
    }
}

@keyframes appearence {
    from {
        opacity : 0;
    }
    to {
       opacity : 1;
    }
}