.neon {
    font-family : 'Tilt Neon'!important;
    color : var(--neon-color);
    animation: pulsate 2.5s infinite alternate;
}

.appearence {
    opacity: 0;
    animation: appearence 2s ease-in-out 0.5s forwards;
}

.outlined-text {
    color : var(--bg-color);
    text-shadow:
        -1px -1px 0 var(--font-color),  
        1px -1px 0 var(--font-color),
        -1px 1px 0 var(--font-color),
        1px 1px 0 var(--font-color);
    &--neon {
        @extend .outlined-text;
        text-shadow:
            -1px -1px 0 var(--neon-color),  
            1px -1px 0 var(--neon-color),
            -1px 1px 0 var(--neon-color),
            1px 1px 0 var(--neon-color);
    }
}

.section-title {
    font-size: clamp(2rem, 15vw, 8rem);
    margin : 2rem 0;
    position: relative;
    &::after {
        content: attr(data-title);
        @extend .outlined-text--neon;
        white-space: nowrap;
        position: absolute;
        top: -20%;
        left : 5%;
        z-index: -1;
    }
}
