
:root, :root.dark {
    --bg-color : #191825;
    --invert-bg-color : #EDEEF7;
    --font-color : #e1e1e3;

    --neon-color : #E384FF;
    --neon-color-secondary : #865DFF;


    --transparent-color-accent : rgba(255,255,255,0.06);
}

:root.light {
    --bg-color : #EDEEF7;
    --invert-bg-color : #191825;
    --font-color : #424244;

    --neon-color : #7868E6;
    --neon-color-secondary : #B8B5FF;


    --transparent-color-accent : rgba(255, 255, 255, 0.21);
}

// light color palette : https://colorhunt.co/palette/e4fbffb8b5ff7868e6edeef7